<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="bg-blue-800 m-0 p-5 text-3xl text-white font-extrabold">
      Welcome to airbnb
  </h1>
</body>
</html>