<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking</title>
   <link rel="stylesheet" href="output.css" />
</head>
<body>
  <%- include('../partials/head') %>

  <div class="m-8">
    <h1 class="text-indigo-600 ml-20 text-4xl font-extrabold">Booking here</h1>
    <p class="text-indigo-400 text-2xl m-4 pl-14">all booking are appear here</p>
  </div>
  
</body>
</html>