<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg-blue-800 m-0 p-5 flex justify-between">
      <h1 class="text-3xl text-white font-extrabold">Welcome to airbnb</h1>
      <ul class="flex pr-18 text-white text-[20px]">
        <li class="pr-14"><a href="/">Home</a></li>
        <li class="pr-14"><a href="/host/add-home">Add home</a></li>
        <li class="pr-14"><a href="/booking">booking</a></li>
        <li class="pr-14"><a href="/favourite">Favourites</a></li>
        <li class="pr-14"><a href="/host/host-home">Host home</a></li>
      </ul>
    </div>
  </body>
</html>
